.cartContainer {
    position: fixed;
    top: 10%;
    right: 0;
    width: 400px;
    height: 80vh;
    z-index: 1050;
    overflow-y: auto;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .cartCard {
    border: none;
  }
  

  